{% extends 'client/base.html' %}

{% block content %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <h1>{{ the_action_text }} client</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {% crispy form %}

        {% if notes_form_set %}
            {{ notes_form_set.management_form }}
            <table id="notes">
                {% for note_form in notes_form_set %}
                    {{ note_form }}
                {% endfor %}
            </table>
        {% endif %}
        {% if edit_form %}
            <button type="submit" value=1 name="delete_client" class="save btn btn-danger">Delete</button>
        {% endif %}
        <button type="submit" value=2 class="save btn btn-default">Save</button>
    </form>
{% endblock %}