<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Client Management</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/client_list">Client List</a></li>
      <li><a href="{% url 'client_new' %}">Add Client</a></li>
      <li><a href="{% url 'fs_test' %}">Form Set Test</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
          <a href="{% url 'logout' %}">Log out {{ user.username }}</a>
      </li>
    </ul>
  </div>
</nav>